.Rproj.user
.Rhistory
.RData
.Ruserdata
Thumbs.db
grant
materials
presentations
analysis
Longitudinaldataanalysiswithstructuralequations.pdf
LDA-SEM-Stata-Sample-Materials-1.pdf
manuscript/Frontiers-article/Frontiers-APC-invoice.pdf
manuscript/Frontiers-article/Frontiers-SLI-Aptitude-manuscript-FINAL.docx
manuscript/Frontiers-article/Frontiers-SLI-Aptitude-manuscript-FINAL.pdf
STS_taxi-00001.jpg
Interpreting-marks.xlsx
manuscript/Frontiers-article/Frontiers-SLI-Aptitude-manuscript-pre-accepted.docx
manuscript/Frontiers-article/Frontiers-SLI-Aptitude-manuscript-pre-accepted.pdf
manuscript/Frontiers-article/Frontiers-SLI-Aptitude-manuscript-REVISED.docx
manuscript/Frontiers-article/Frontiers-SLI-Aptitude-manuscript-REVISED.pdf
manuscript/Frontiers-article/Frontiers-SLI-Aptitude-response-to-reviewers.docx
data/combined-data-tables/2022-04-23_SLI_aptitude_data.csv
