.Rproj.user
.Rhistory
.RData
.Ruserdata
Thumbs.db
grant
materials
presentations
analysis
Longitudinaldataanalysiswithstructuralequations.pdf
LDA-SEM-Stata-Sample-Materials-1.pdf
manuscript/Frontiers-article/Frontiers-APC-invoice.pdf
manuscript/Frontiers-article/Frontiers-SLI-Aptitude-manuscript-FINAL.docx
manuscript/Frontiers-article/Frontiers-SLI-Aptitude-manuscript-FINAL.pdf
